h1{
  font-family: "Times New Roman", Times, Sans-serif;
  font-size: 40px;
}
h2{
   font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

body {
  background-color: #FAEBD7;
}
label,input{
 
  margin-left:250px;
}
h2 {
 font-family: sans-serif;}

.Box {
  display: flex;
  justify-content: space-around;
}
.Box_tile { 
  flex: 10;  
  margin: 2px;
  padding: 2px;
  background: #aaa;
}
.myDiv {
  border: 3px outset black;
  background-color: lightblue;
  text-align: center;
  width: 400px;
  margin-left: 500px;
  
}
h3
{
  font-family: Sans-serif;
}